[Unit]
Description=Boot Animation
After=wm_ready.service sound-server.service pulseaudio.service sound-init.service system-server.service
Before=tizen-system.target
ConditionPathExists=!/tmp/restart
ConditionKernelCommandLine=|!bootmode=silent

[Service]
#EnvironmentFile=ECORE_EVAS_ENGINE=wayland_egl
#EnvironmentFile=ECORE_IMF_INPUT_PANEL_ENABLED=1
#EnvironmentFile=ECORE_IMF_MODULE=isf
#EnvironmentFile=EFL_WAYLAND_USE_XDG_SHELL=defined
#EnvironmentFile=ELM_ACCEL=gl
#EnvironmentFile=ELM_DISPLAY=wl
#EnvironmentFile=ELM_ENGINE=wayland_egl
#EnvironmentFile=ELM_PROFILE=mobile
#EnvironmentFile=ELM_SCALE=4.0
#EnvironmentFile=WAYLAND_DISPLAY=wayland-0
#EnvironmentFile=XDG_RUNTIME_DIR=/tmp
EnvironmentFile=/run/tizen-system-env

Type=oneshot
Nice=-20
ExecStart=/usr/bin/boot-animation --start
ExecStart=/bin/sleep 2

[Install]
WantedBy=tizen-system.target
