[Unit]
Description=Boot Animation
After=wm_ready.service sound-server.service pulseaudio.service sound-init.service system-server.service
Before=tizen-system.target
ConditionPathExists=!/tmp/restart
ConditionKernelCommandLine=|!bootmode=silent

[Service]
Environment=ECORE_EVAS_ENGINE=wayland_egl
Environment=ECORE_IMF_INPUT_PANEL_ENABLED=1
Environment=ECORE_IMF_MODULE=isf
Environment=EFL_WAYLAND_USE_XDG_SHELL=defined
Environment=ELM_ACCEL=gl
Environment=ELM_DISPLAY=wl
Environment=ELM_ENGINE=wayland_egl
Environment=ELM_PROFILE=mobile
Environment=ELM_SCALE=4.0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/tmp
Type=oneshot
Nice=-20
ExecStart=/usr/bin/boot-animation --start
ExecStart=/bin/sleep 2

[Install]
WantedBy=tizen-system.target
