[Unit]
Description=Shutdown Animation
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
SmackProcessLabel=System
ExecStart=/usr/bin/boot-animation --offmsg " " --clear
